ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0px !important;
  margin: 0px;
  background-color: #333;
}
#profile-link {
  list-style-type: none;
  color: #2196f3 !important;
}
#welcome-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/jesusxambro/fcc_portfolio/main/images/JAmbro.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.welcome {
  display: flex;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.welcome h1 {
  font-size: 50px;
  font-weight: 900;
}
.welcome p {
  font-size: 20px;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #333;
}
.ul--list {
  display: flex;
}
.nav-link {
  display: inline;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: white !important;
  margin: auto;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
}
.nav-link a:hover {
  background-color: #111;
}
.container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.vertical--padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 0 4px;
  flex-direction: column;
}
.column {
  display: flex;
  max-width: 60%;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  margin: 10px;
}
#project-tile {
  padding: 0 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.project_image {
  display: flex;
  margin-top: 8px;
  vertical-align: middle;
  width: 500px;
  height: auto;
  padding: 10px;
}
.project_image:hover {
  background: rgba(0, 0, 0);
}
.section--title {
  font-size: 40px;
  color: white;
}
.about__text {
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-images {
  width: 20%;
  height: auto;
}
@media (max-height: 800px) {
  p {
    font-size: 10px;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
